<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Start Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: #eaeaea">


	<div style="width: 95%; height: 960px; margin: 200px auto 0 auto; background-color: #eaeaea; text-align: center">
		<div style="width: 100%; background-color: #eaeaea; float: left">
			<div
				style="margin-top: 20px; margin-bottom: 20px; margin-left: 40%; float: left"
				class="butonat">
				<form style="float: left; margin-bottom: 20px;" method="post"
					th:object="${user}" th:action="@{/users/add}">
					<p>
						Username: <input type="text" th:field="${user.username}"></input>
					</p>
					<p>
						Email: <input type="text" th:field="${user.email}"></input>
					</p>
					<button type="submit">Shto shfrytezuesin</button>
				</form>
			</div>
		</div>
		<div
			style="width: 95%; height: 960px; margin: 200px auto 0 auto; background-color: #eaeaea; text-align: center">
			<table th:if="${not #lists.isEmpty(allUsers)}" style="width: 80%; border: 1px double black; text-align: center; font-size: 12px; float: left; font-family: 'Arial'">
				<thead>
					<tr>
						<td style="background-color: #b3cef5; width: 20%"><b>Username</b></td>
						<td style="background-color: #b3cef5; width: 20%"><b>Email</b></td>
						<td style="background-color: #b3cef5; width: 20%"><b>Statusi</b></td>
						<td style="background-color: #b3cef5; width: 40%"><b>Veprimet</b></td>
					</tr>
				</thead>
				<tbody>
					<tr style="height: 35px" th:each="user, iteStat : ${allUsers}">
						<td style="width: 25%; background-color: #b3cef5" th:text="${user.username}"></td>
						<td style="width: 25%; background-color: #b3cef5" th:text="${user.email}"></td>
						<td style="width: 25%; background-color: #b3cef5" th:text="${user.enabled}"></td>
						<td style="width: 25%; background-color: #b3cef5"><a th:href="@{/users/change/status/{username}/(username=${user.username})}">Enable/disable</a> | <a th:href="@{/users/remove/{username}/(username=${user.username})}">Fshij shfrytezuesin</a> | <a th:href="@{/users/password/reset/{username}/(username=${user.username})}">Reset password</a></td>
					</tr>
				</tbody>
			</table>
			<a style="width: 7.5%" th:href="@{/home}"><button>Back</button></a> 
		</div>
	</div>
	
	
</body>
</html>
